.project-area{
    margin: 1rem;
    background-color: lightgray;
    padding: 1rem;
    border-radius: 0.6rem;
    box-sizing: 0.1rem 0.1rem #2c2c2c;
}
.project-area div{
    display: flex;
    justify-content: space-between;
}